.cell-wrap {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell-wrap:hover {
    filter: brightness(1.1);
}